language: scala
jdk:
- oraclejdk8
notifications:
  slack:
    secure: fjNuUUp1b3saV/YF6/w+rTfsHngOiMK+HLjHHqgbylPbl1sKgpkafnTxmxB+M98ChcVU80gl1L5L9NW+qfF/tFgUvLKmY08quZ+/rl9NrBjvlZLyjKPemunALoX8Cj+ERqA7a5HCJZs41P8Xvh2E1P02tdE5zf2EWIaAIpCN5Ggev36wn7n6VboQAgOUnkO2ZNG6ac57/IGT2IIrwt7Yxvcju0l1bHOPdIWE+wUUsPdmduDOTSvamO83ibQT8rtAI6X0uWsvlX3GmVuhhJJ91RHIsr1pyqM7AWoF5eS9/xiClXcrT5rjPQJEj3jQtiEgWczbbywSOIJncc06VGSJJ+WofKmeGJVsDXLr6ruXiXKvYd4IlvfRbH7avWwOGy7xQsh9s3+ZTq0pPRt+UVkCfghChEcuFwr1tuMRHBSFQCltBtDL8EkgRDh1mTU+aUZpNDVgCJxbcGJYqwjXW+Dh6POTH5N9+/y80sU7+mUom3PlGn7o34BwvGKFxWGm5Z7elB6x5g6ejzjLNcHkfpPf6py5J8xnIE18akqLsvxDrBmqZaz5U/3dNIse9Mcwhwrd3+Lg/OdvXpp7CWCsxbWpEPY2xihYGRw+I/uKaiBdOPpuHwL3tEbGtFN5e/fPMCxuRbCETviOCmeUeaUSzDG7/pg+0vWDORstZdnDX6x+QHk=
