language: scala
jdk:
- oraclejdk8
notifications:
  slack:
    secure: JdMG3e0oQjIfSrNcJKsTbS80MJ6N9HSvQSwBeQ0kY6wV7Edf1LKy8aaAP7JdyRRf5NLl6iCz04fSrKpbh1b/nb8Yx+H7xnW//NGfF3yf+kz22EQO6/rj6rGtxXVy0lRV4Rclb6BQlA73fVytvALGezHMtTdFrP7VBWOrLVtiAzsS4OtAyaZKp4Ro+VfhQPqqNJAPwQwA6tSRfSbMyimkJ5r6rxn60Mc1fHudbkKWz0lwVfEEhyvlszrO0Tfx1zSBhFs11LN6LGPIc1Rk4tB73E/lC4+mvjP2OppW+xBIPNv/6nQcIhaTf/k/aydFVJ5znHmvSqbkKkTBiyKHtVxD75vmz3qxtFfy1KIxv8d7BMnYuJRqQ7F+g8gJUSYe9ywd9UlMXz8Ca5k2MBwFNNP0EiNROBSful8mY630w1+QWGkY+FF5P0fyCIciltfqxmjRXjDzfqk9T/6FxrC4xTFEGqtzymIef9+PfnMzkXH0taKBgUCrGtnr7+7WEYqqLczOLTcYtHPN/hlMQ6640JugaeQM/iDWT+8wG+Id5PLQm8fyy1YSFI5T4yqEhw3cpTdnk1FZMfW48lB54vhyHg7XJGOXTsbP7h0kpHGT0+mlT2tNR95mppYX7rTvxfT7Ep2/40my+wfp0+hHzedYc2hIzb4MqqKAHWLNXdobHwbyvkw=
